@font-face {
  font-family: "inter";
  src: url("../src/assets/fonts/Inter_Regular.ttf") format("truetype");
  font-family: "prompt";
  src: url("../src/assets/fonts/Prompt_Regular.ttf") format("truetype");
}

@import "tailwindcss";

@theme {
  --font-prompt: "prompt", sans-serif;
  --font-inter: "inter", sans-serif;
  --color-ellPrimary: #F7F7F7;
  --color-ellSecondary: #F7F7F7;
  --color-ellTertiary: #333333;
  --color-ellWhite: #F7F7F7;
  --color-ellBlack: #333333;
  --color-ellGray: #D6D6D6;
  --color-ellDarkGray: #8E8E8E;
  --color-ellRed: #FF1E00;
  --color-ellGreen: #77B254;
  --color-ellLime: #E2F6CA;
  --color-ellScrollbar1: #D6D6D6;
  --color-ellScrollbar2: #333333;
  --color-ConstantGray: #D6D6D6;
  
  --animate-wiggle: wiggle 0.3s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-5deg);
    }
    50% {
      transform: rotate(5deg);
    }
  }

  --animate-fadeDown: fadeDown 0.3s ease-in-out;
  @keyframes fadeDown {
    0% {
      transform: translateY(-20px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  --animate-loadingColor: loadingColor 0.3s infinite;
  @keyframes loadingColor {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
  }
}

* {
  box-sizing: border-box;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg); 
  cursor: pointer;
}

.calendar::-webkit-calendar-picker-indicator {
 position: absolute;
 transform: translateX(-150%);
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.navbar-container {
  background: var(--color-ellWhite);
  height: calc(100% - 64px);
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 6px;
}

@media screen and (orientation: landscape) and (max-height: 50rem) and (max-width: 64rem) {
  .hiddenLandscapePhone {
    display: none;
  }
}

@media screen and (min-width: 50rem) {
  ::-webkit-scrollbar {
    width: 12px;
  }
}
.TooltipMain:hover .Tooltip {
  visibility: visible;
}

.Tooltip {
  visibility: hidden;
}


::-webkit-scrollbar-track {
  background: var(--color-ellScrollbar1);
  z-index: 10;
}

::-webkit-scrollbar-thumb {
  background: var(--color-ellScrollbar2);
  z-index: 10;
}

::-webkit-scrollbar-thumb:hover {
  background: #222222;
}

.gm-style-iw-chr,
.gm-ui-hover-effect {
display: none;
}
